@model List<WebApp.DbHandler.Models.Course>

@{ ViewData["Title"] = "Kurskatalog"; }

<div class="breadcrumbs">
	<div class="wrapper">
		<ul class="breadcrumb-nav">
			<li><a href="/?side=kurskatalog">Kurskatalog</a></li>
		</ul>
	</div>
</div>


<div class="error_label" style="margin-top: 20px;">
	<div class="label_text">
		<h3><strong>OBS!</strong> Kurskatalogen er ikke klar enda og vi jobber fortsatt med å skrive ferdig kursinnlegg. Vi gir dere beskjed når alt er klart!</h3>
	</div>
</div>

<div class="kurs_info">
	<h1>Kurskatalog</h1>
	<p>Utforsk fullstendige kurs via Kodesonens kurskatalog. Her kan alle gå gjennom alt fra grunnleggende webutvikling til programmering og teori om datavitenskap. Våre kurs blir gitt ut av studenter og skal være av høy kvalitet.</p><br />
</div>

<div class="box-wrapper">
	@foreach(var Course in Model)
	{
		<a href='#' class='main-tab'>
			<center>
				<span class='main-tab-icon'>
					<i class='@Course.Icon'></i>
				</span>
				
				<h1>@Course.Name</h1>
				<br/>
				<p>@Course.Description</p>
				
				<div class='box_numbers'>
					<h4><i class='fas fa-copy'></i> 0</h4>
				</div>

				<br/>
				<div class="main-tab-arrow"><i class="fas fa-long-arrow-alt-right"></i></div>
			</center>
		</a>
	}
</div>

<!-- 
@foreach(var Course in Model)
	{
		<a asp-controller="Course" asp-action="KursSide" asp-route-id="@Course.Id" class='box_thread'>
			<div class='box_symbol'>
				<h1><i class='@Course.Icon'></i></h1>
			</div>

			<div class='box_info'>
				<h2>@Course.Name</h2>
				<h4>@Course.Description</h4>
			</div>
			
			<div class='box_numbers'>
				<h4><i class='fas fa-copy'></i> 0</h4>
			</div>
		</a>
	}
-->
