@model WebApp.DbHandler.Models.Module

<h1>@Model.ModuleName</h1>
<h2>@Model.Author</h2>
<h6>Published: @Model.Published - @Model.Author</h6>
<h6>Updated: @Model.Updated - @Model.LastUpdatedBy</h6>

<div class="content">
	@Model.Html
</div>
